* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

:root {
  --background-dark: #111111;
  --background: #1a1a1a;
  --background-100: #3a3a3a;
  --text-primary: #272ab0;
  --text-secondary: #276bb0;
  --white: #f9f9f9;
  --detail: #c2185b;
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border: 0.5px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
